// main: ../styles.less

.btn{
    font-size: 0.93rem;
    color: white;
    text-transform: uppercase;
    background: @purple;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;


    &--standart {
        width: 157px;
        height: 54px;
        transition: 0.2s linear;
        font-size: 0.93rem;
        font-weight: 700;

        &:hover {

            .purple__text;
            

        }

    
    }

    &--white {
        width: 170px;
        height: 54px;
        background: white;
        transition: 0.2s linear;

        &:hover .purple__text{
            background: transparent;
            color: white;
        }

        &:hover {
            background: @purple;
        }
    }

    &--mini-not_btn{
        width: 86px;
        height: 24px;
        transition: 0.2s linear;
        font-size: 0.53rem;
        font-weight: 700;

    }
    

}

